<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.beatbud_1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:overrideLibrary="com.google.firebase.auth">



        <activity android:name=".EmptyGroups" />
        <activity android:name=".EmptySaved" />
        <activity android:name=".ResultsActivity" />
        <activity android:name=".ShowGroups" />
        <activity android:name=".CreateGroup" />
        <activity android:name=".SavedActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".ExplorerActivity" />
        <activity android:name=".TravelsActivity" />
        <activity android:name=".SignIn" />
        <activity android:name=".MainActivity"/>
        <activity
            android:name=".Inicio"
            android:label="@string/title_activity_inicio" />
        <activity android:name=".LunchScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>